body{
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #e8f5f7;
  background-repeat: no-repeat;
  background-size: 100% 100%
}
  
.card{
  padding: 30px 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  border: none !important;
  box-shadow: 0 6px 12px 0 rgba(0,0,0,0.2)
}
  
.blue-text{
  color: #00464f
}

