{% load static %}

<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Currency converter</title>
</head>

<body>

<div class="container-fluid px-1 py-5 mx-auto">
    <div class="row d-flex justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
        <h3>Currency Converter</h3>
        <p class="blue-text">Powerful Yet Simple</p>
        
        <div class="card">
            
            <h5 class="text-center mb-4">Please Input Your Request</h5>

            <form method="post" action="{% url 'index' %}">
            {% csrf_token %}

            <!-- Currency input -->
            {{ form.input_field }}
            {% for e in errors %}
            <small class="form-text text-muted" style="color: red !important">
                {{ e }}
            </small>
            {% endfor %}
            <small class="form-text text-muted">
                Numbers only, to two decimal places (e.g. 12.34)
            </small>

            <!-- From options -->
            <label for="input">From:</label>
            <select id="input" name="input" class="select form-control text-center">
                {% for c in currency %}
                <option value="{{ c.cc }}" {% if c.cc == input %}selected{% endif %}>{{c.cc}} - {{c.name}}</option>
                {% endfor %}
            </select>
            
            <!-- To options -->
            <label for="output">To:</label>
            <select id="output" name="output" class="select form-control text-center">
                {% for c in currency %}
                <option value="{{ c.cc }}" {% if c.cc == output %}selected{% endif %}>{{c.cc}} - {{c.name}}</option>
                {% endfor %}
            </select>

            <label for="result">Result:</label>
            <!-- Converter result -->
            <p class="form-control text-center" name="result" id="result" type="text">{{ converted }}</p>
            
            <input class="btn btn-primary btn-block" type="submit" value="Convert">

        </div>
    </div>
</div>

<!--  Script to prevent negative conversions -->
<script type="text/javascript">
    var input = document.getElementById("id_input_field");
    input.min = 0;
</script>

</body>
</html>